
20190421_141622_tmp22550
*.avi
*.mp4
esp32/cure resin uv/.vs/cure resin uv/v15/.suo
esp32/cure resin uv/.vs/cure resin uv/v15/Solution.VC.db
esp32/cure resin uv/.vs/cure resin uv/v15/Solution.VC.db-shm
esp32/cure resin uv/.vs/cure resin uv/v15/Solution.VC.db-wal
esp32/cure resin uv/__vm/.cure resin uv.vsarduino.h
esp32/cure resin uv/__vm/Compile.vmps.xml
esp32/cure resin uv/__vm/Configuration.Debug.vmps.xml
esp32/cure resin uv/__vm/Upload.vmps.xml
